.descripcion {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
    width: 25%;
}

body {
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.imagen_logo {
    position: absolute;
    padding: 20px;
    z-index: 3;
}

.imagen_logo_gris {
    position: absolute;
    padding-top: 1%;
    padding-left: 80%;
    z-index: 3;
}

.background {
    width: 300px;
    height: 150px;
    background-color: #000000;
    padding: 10px;
    margin: 180px 0px 10px 120px;
}

.background_historia {
    position: absolute;
    width: 1100px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-top: 19%;
    margin-left: 10%;
}

.trans {
    opacity: 0.6;
}

.text_cubo {
    position: absolute;
    width: 300px;
    color: #FFFFFF;
    margin: 180px 0px 10px 120px;
    z-index: 1;
}

.text_cubo_historia {
    position: absolute;
    width: 645px;
    padding-top: 8%;
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 18px;
}

.text_cubo_titu {
    padding: 0px 0px 0px 10px;
    position: absolute;
    width: 300px;
    color: #FFFFFF;
    margin: 132px 0px 10px 90px;
    z-index: 1;
}


/*Diseño Menu ----------------------------------------------------------------------------------------------------------------------------*/

#menu {
    position: absolute;
    width: 1100px;
    margin: 0 auto;
    z-index: 3;
}

#menu>ul>li {
    float: left;
}

#menu>ul>li a {
    display: block;
    width: 220px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    color: #FFF;
    text-decoration: none;
}

#menu>ul>li>ul {
    display: none
}

#menu>ul>li>ul>li {
    position: relative;
}

#menu>ul>li>ul>li>a {
    background-image: url(../images/fondo_blanco.png)
}

#menu>ul>li>ul>li>ul {
    position: absolute;
    left: 100px;
    top: 0;
    display: none
}

#menu>ul>li>ul>li>ul a {
    background: #ff0
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.boton {
    background-image: url(../images/boton.png);
    background-size: 95%;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center top;
    bottom: 1000px;
}

.boton_ini {
    background-image: url(../images/boton_ini.png);
    height: 50px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 43%;
}

.pos_menu {
    position: absolute;
    top: 50px;
    left: 360px;
}


/*Diseño Menu ----------------------------------------------------------------------------------------------------------------------------*/

#text_menu {
    font-size: 24px;
    padding-top: 3px;
}

#text_menu_opt {
    text-align: left;
    padding: 12px;
}

.button {
    border: none;
    color: #000;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: left;
    width: 220px;
    height: 46px;
    font-size: 16px;
}

.button4 {
    background-color: transparent;
}

.button4:hover {
    background-color: #e7e7e7;
}

.bg-dark {
    background-color: #000 !important;
}

.fondo_opciones {
    background-image: url(../images/fondo_taller-06.png);
    background-repeat: none;
}

.carousel,
.slideshow {
    width: 400px;
    height: 300px;
    margin-top: 4%;
    margin-left: 62%;
}

.container {
    margin: 150px auto;
}