{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" href="{% static 'letreros/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'letreros/css/style.css' %}">
    <!--Js-->

    <title>LETREROS</title>
</head>

<body>
    <!--!!!NAVBAR!!!-->
    <div id="div1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light float-left">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <a href="{% url 'inicio' %}"><button class="btn btn-secondary algo" type="button" id="dropdownMenu2" aria-haspopup="true" aria-expanded="false">INICIO</button></a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle algo" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EMPRESA</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a href="{% url 'historia' %}"><button class="btn dropdown-item algo" type="button">HISTORIA</button></a>
                            <a href="{% url 'infraestructura' %}"><button class="btn dropdown-item  algo" type="button">INFRAESTRUCTURA</button></a>
                        </div>
                    </div>
                    <a href="{% url 'portafolio' %}"><button class="btn btn-secondary algo" type="button" id="dropdownMenu2" aria-haspopup="true" aria-expanded="false">PORTAFOLIO</button></a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle algo" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRODUCTOS</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a href="{% url 'caja_luz' %}"><button class="btn dropdown-item algo" type="button">CAJAS DE LUZ</button></a>
                            <a href="{% url 'letreros_corp' %}"><button class="btn dropdown-item algo" type="button">LETREROS CORPORÉOS</button></a>
                            <a href="{% url 'totems' %}"><button class="btn dropdown-item algo" type="button">TÓTEMS</button></a>
                            <a href="{% url 'señaleticas' %}"><button class="btn dropdown-item algo" type="button">SEÑALÉTICAS</button></a>
                        </div>
                    </div>
                    <a href="{% url 'contacto' %}"><button class="btn btn-secondary algo" type="button" id="dropdownMenu2" aria-haspopup="true" aria-expanded="false">CONTACTO</button></a>
                </ul>
            </div>
        </nav>
    </div>

    <div id="divcontactos">
        <form id="formulario" method="post">
            {% csrf_token %}
            <div class="form_group">
                {{ form.as_p }}
                <button type="submit" id="submit">Login</button>
                <a class="btn btn-danger center-block" role="button " href="{% url 'social:begin' 'google-oauth2' %}">GOOGLE</a>
                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary">INICIA CON FACEBOOK</a>
        </form>
        </div>



        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>